/*login page*/
.main_image{
    float: right;
    padding-top: 7%;
}


.Main_heading{
    font-size: 90px;
}

.login_container{
    text-align: center;
    padding: 10%;
    padding-left: 15%;
    padding-right: 15%;

}

.button{
    text-align: center;
}


/*login page*/

/*item page*/

.Item_container{
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
}
 
th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.booking {
    text-align: center;
}

th {
    background-color: #c79797;
    font-size: 20px;
    color: white;
}
 
td img {
    max-width: 100px;
    height: auto;
}



/*item page*/